<h1>Upload Ticket</h1>

<form method="post" enctype="multipart/form-data">
    <label>Fecha</label>
    <input type="date" name="date" class="form-control" />
    <label>Importe</label>
    <input type="number" name="importe" class="form-control" />
    <label>Producto</label>
    <input type="text" name="producto" class="form-control" />
    <label>Imagen</label>
    <input type="file" class="form-control-file" name="file" />
    <br />
    <button class="btn btn-primary">Upload</button>
</form>